<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testing Sequence">
    <classes>
      <class name="tng.IntroductionNg"/>
      <class name="tng.IntroductionNg2"/>
    </classes>
  </test> <!-- Test -->
  
  <test name = "Car Loan">
	  <classes>
		 <class name="tng.IntroductionNg3">
			  <methods>
				   <!-- linha para excluir um método específico -->
				   <exclude name="MobileLoginCarLoan"/>
			   </methods>
		 </class>
	  </classes>
  </test>
  
  <test name="Home Loan">
	  <classes>
		   <class name="tng.IntroductionNg4"/>
	  </classes>
  </test>
  
</suite> <!-- Suite -->